<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>IoT</title>
    <link rel="icon" sizes="32x32" type="image/png" href="/images/bogatka-icon-32.png">
    <link rel="apple-touch-icon" sizes="32x32" href="/images/bogatka-icon-32.png">

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>

  <body class="relative">

    <main role="main" class="relative container mx-auto px-4 max-w-3xl z-10">
      <%= @inner_content %>
    </main>
    <div  class="fixed top-0 left-0 opacity-50 bg-center bg-cover w-full h-screen"
          style="background-image: url('/images/taldom-1.jpg')">
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
