html {
  box-sizing: border-box;
  font-size: 62.5%
}

body {
  color: #000000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6
}

body::after {
  background-image: url("/images/taldom.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%
}

h2, h3 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  color: #808080;
}
