  <div class="taldom-sensors">
    <h3> Температура: <%= @temp %>&#8451;</h3>
    <h3> Влажность: <%= @humi %>%</h3>
    <h3> Подпол: <%= @btemp %>&#8451;</h3>
    <h3> Уровень сигнала: <%= @csq %></h3>
  </div>
