<div class="house">
  <div class="taldom-sensors">
    <h1 style="color:  #26655f;"> Температура: <%= @temp %>&#8451;</h1>
    <h1 style="color:  #26655f;"> Влажность: <%= @humi %>%</h1>
    <h1 style="color:  #26655f;"> Подпол: <%= @btemp %>&#8451;</h1>
    <h3 style="color:  #26655f;"> Уровень сигнала: <%= @csq %></h3>
  </div>
</div>
